In [1]:
# Check my current environment
!conda info --envs

# conda environments:
#
                         /Users/mmckay/.julia/conda/3
base                     /Users/mmckay/conda
AstronomicalData         /Users/mmckay/conda/envs/AstronomicalData
astroconda               /Users/mmckay/conda/envs/astroconda
astroconda27             /Users/mmckay/conda/envs/astroconda27
astroconda37             /Users/mmckay/conda/envs/astroconda37
marvin_env               /Users/mmckay/conda/envs/marvin_env
marvin_v2             *  /Users/mmckay/conda/envs/marvin_v2
ztf_alert_env            /Users/mmckay/conda/envs/ztf_alert_env

In [9]:
from astropy.coordinates import SkyCoord
import astropy.units as u
import pandas as pd
from astropy.table import Table

In [152]:
# LG12 and BBRD SDSS sample with AGN removed using BPT diagnostic
lg12_sdss = pd.read_table('/Users/mmckay/Desktop/research/FMR_MZR/lg12_sf_reduced.txt', sep=',')
bbrd_sdss = pd.read_table('/Users/mmckay/Desktop/research/FMR_MZR/sdss_129galaxies.txt', sep=' ')

In [153]:
bbrd_sdss

,RASDSSinfo,DecSDSSinfo,zSDSSinfo,HalphaSDSSline,O5007SDSSline,HbetaSDSSline,HdeltaSDSSline,N6583SDSS,S6717SDSSline,S6731SDSSline,...,fibSFRavgSDSSsfr,fibSFRmedSDSSsfr,sSFRavgSDSSspecsfr,sSFRmedSDSSspecsfr,sSFRflagSDSSspecsfr,petroRad,petroRadE,petroR50,petroR50E,petroR90
0,170.862427,-0.713572,0.040784,1.786378e-14,1.539548e-15,4.978708e-15,1.305116e-15,5.720419e-15,4.065392e-15,3.101458e-15,...,-0.115388,-0.161209,-9.916190,-9.987387,0.0,6.434447,0.034390,2.831146,0.009270,7.183330
1,194.857437,-2.248459,0.047413,6.040483e-15,2.956520e-16,9.746540e-16,1.737739e-16,4.753626e-15,8.977892e-16,7.502930e-16,...,0.933615,0.928727,-9.434880,-9.473312,0.0,8.353609,0.066384,3.577787,0.016873,8.858759
2,121.680412,45.660568,0.034259,1.142312e-14,6.704372e-16,2.648039e-15,6.517416e-16,6.716726e-15,1.409686e-15,1.453173e-15,...,-0.252370,-0.234049,-10.101339,-10.135715,0.0,4.966561,0.064525,2.050702,0.013455,6.196133
3,160.746124,65.146248,0.042569,4.889136e-15,3.015021e-16,9.112711e-16,1.371944e-16,3.736053e-15,7.244854e-16,7.871086e-16,...,0.198304,0.206888,-9.773160,-9.805940,0.0,4.607538,0.056988,2.022718,0.011594,4.823957
4,213.961533,1.882630,0.025585,4.845318e-15,1.384218e-15,1.176685e-15,2.776194e-16,3.031298e-15,1.014888e-15,8.386957e-16,...,-0.784193,-0.759163,-10.483000,-10.486470,0.0,8.988586,0.122002,4.022663,0.022638,10.634166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,161.677155,25.931555,0.020585,5.518173e-14,1.826258e-14,1.107254e-14,2.437621e-15,3.339275e-14,9.896292e-15,8.039565e-15,...,0.173145,0.202849,-10.293059,-10.318245,0.0,10.220584,0.394757,4.682921,0.071522,14.625969
122,220.578583,17.510523,0.046396,1.487249e-14,5.031520e-16,2.679227e-15,5.633616e-16,6.583877e-15,1.833631e-15,1.536121e-15,...,0.820853,0.786409,-9.610600,-9.639972,0.0,6.908418,0.148912,2.761581,0.022256,7.625360
123,160.429398,18.910625,0.046978,9.582505e-15,6.252302e-16,2.547051e-15,6.072162e-16,3.514547e-15,1.583218e-15,1.244215e-15,...,-0.181596,-0.188121,-9.886300,-9.924710,0.0,5.444522,0.107262,2.232498,0.021168,7.083348
124,231.542587,13.698744,0.030100,1.322078e-14,2.925073e-15,3.731564e-15,8.269806e-16,4.658475e-15,2.782348e-15,2.398039e-15,...,-0.537763,-0.560960,-10.339360,-10.379167,0.0,5.490031,0.222119,2.514166,0.045954,8.089074
125,232.125046,14.470961,0.046574,1.197966e-14,9.840260e-16,3.401949e-15,8.984460e-16,5.982476e-15,2.060892e-15,1.576261e-15,...,-0.015864,-0.051234,-9.886740,-9.928698,0.0,4.627171,0.062648,1.806328,0.013493,5.310513

In [154]:
# read the DR16 drpall file
drpall = Table.read('/Users/mmckay/Desktop/research/drpall-v2_4_3.fits')

#drpall = Table.read('/Users/mmckay/Desktop/research/dapall-v2_4_3-2.2.1.fits')
#drpall.colnames

In [155]:
# from astropy.io import fits
# hdu = fits.open('/Users/mmckay/Desktop/research/drpall-v2_4_3.fits')
# hdu.info()
# hdu.close()

In [156]:
len(drpall['mangaid'])

11465

In [157]:
t=Table()
t['Objra'] = drpall['objra'] 
t['Objdec'] = drpall['objdec']
t['mangaid'] = drpall['mangaid']
t['plateifu'] = drpall['plateifu']
t['nsa_z'] = drpall['nsa_z']
#t['cenra'] = drpall['cenra'.upper()]
#t['cendec'] = drpall['cendec'.upper()]

# Convert astropy table to pandas dataframe
manga_dr16_catalog = t.to_pandas()
# Note that the mangid and plateifu has a dtype=byte11 so we use the following line to convert to string values
manga_dr16_catalog['mangaid'] = manga_dr16_catalog['mangaid'].str.decode("utf-8")
manga_dr16_catalog['plateifu'] = manga_dr16_catalog['plateifu'].str.decode("utf-8")

# Display first 5 rows
manga_dr16_catalog.head()

        Objra     Objdec     mangaid    plateifu        nsa_z
0  194.523424  29.017353    1-404249  8935-12701     0.025677
1  298.033710  27.752152  7-18517934  9118-12701 -9999.000000
2  332.602090  11.713077    1-114955  7977-12701     0.092280
3  126.910630  21.256855    1-412866  9494-12701     0.016049
4   77.621562  49.421073  7-26306340  8705-12701 -9999.000000

In [158]:
# Input DR16 RA and DEC into Skycoord
dr16_skycoord = SkyCoord(ra=manga_dr16_catalog['Objra'], dec=manga_dr16_catalog['Objdec'], frame='icrs', unit=u.deg)

# Input BBRD RA and DEC into Skycoord
bbrd_skycoord = SkyCoord(ra=bbrd_sdss['RASDSSinfo'], dec=bbrd_sdss['DecSDSSinfo'], frame='icrs', unit=u.deg)

# Input LG12 RA and DEC into Skycoord
lg12_skycoord = SkyCoord(ra=lg12_sdss['RASDSSinfo'], dec=lg12_sdss['DecSDSSinfo'], frame='icrs', unit=u.deg)

In [175]:
# Match the DR16 MaNGA catalog with the BBRD sample
bbrd_dr16_skycoord_match = bbrd_skycoord.match_to_catalog_sky(catalogcoord=dr16_skycoord, nthneighbor=1.0)

# Crete a dataframe with the BBRD sample RA, DEC and redshift, match_idx, sep2d
bbrd_dr16_match_df = pd.DataFrame()
bbrd_dr16_match_df['SDSS_RA_deg'] = bbrd_sdss['RASDSSinfo']
bbrd_dr16_match_df['SDSS_DEC_deg'] = bbrd_sdss['DecSDSSinfo']
bbrd_dr16_match_df['SDSS_z'] = bbrd_sdss['zSDSSinfo']
bbrd_dr16_match_df['DR16_match_idx'] = bbrd_dr16_skycoord_match[0]
bbrd_dr16_match_df['DR16_match_sep2d_deg'] = bbrd_dr16_skycoord_match[1]
bbrd_dr16_match_df['DR16_match_sep2d_arcsec'] = bbrd_dr16_skycoord_match[1].to(u.arcsec)

# Set the dataframe index to manga catalog matched index
bbrd_dr16_match_df = bbrd_dr16_match_df.set_index('DR16_match_idx')

# Display first 5 rows
#print(bbrd_dr16_match_df.head(5))

# Store all the matched observation using the skycoord idx in a dataframe 
mangaDR16_catalog_bbrd_match_df = manga_dr16_catalog.iloc[bbrd_dr16_skycoord_match[0]]
#print(mangaDR16_catalog_bbrd_match_df.head(5))

# join the dataframes
final_bbrd_manga_match_df = mangaDR16_catalog_bbrd_match_df.join(bbrd_dr16_match_df)
final_bbrd_manga_match_df.to_csv('/Users/mmckay/Desktop/research/FMR_MZR/final_MaNGAdr16_bbrd_crossmatch.csv')

final_bbrd_manga_match_df.head(5)

,Objra,Objdec,mangaid,plateifu,nsa_z,SDSS_RA_deg,SDSS_DEC_deg,SDSS_z,DR16_match_sep2d_deg,DR16_match_sep2d_arcsec
0,194.523424,29.017353,1-404249,8935-12701,0.025677,194.680054,28.910057,0.027834,0.174046,626.567209
33,117.216794,17.356267,1-382648,9492-12701,0.039551,117.992996,15.711414,0.047002,1.805321,6499.157247
192,176.054950,2.229615,3-109278902,8930-12701,-9999.000000,173.692719,2.921034,0.028753,2.459037,8852.531781
236,125.697648,17.330886,1-460305,8241-12701,0.021315,125.365952,12.392598,0.041644,4.948676,17815.232420
237,164.549790,10.999012,7-7461254,9064-12701,-9999.000000,162.949677,10.866212,0.026918,1.576673,5676.024158

In [176]:
# Match the DR16 MaNGA catalog with the BBRD sample
lg12_dr16_skycoord_match = lg12_skycoord.match_to_catalog_sky(catalogcoord=dr16_skycoord, nthneighbor=1.0)

# Crete a dataframe with the lg12 sample RA, DEC and redshift, match_idx, sep2d
lg12_dr16_match_df = pd.DataFrame()
lg12_dr16_match_df['SDSS_RA_deg'] = lg12_sdss['RASDSSinfo']
lg12_dr16_match_df['SDSS_DEC_deg'] = lg12_sdss['DecSDSSinfo']
lg12_dr16_match_df['SDSS_z'] = lg12_sdss['zSDSSinfo']
lg12_dr16_match_df['DR16_match_idx'] = lg12_dr16_skycoord_match[0]
lg12_dr16_match_df['DR16_match_sep2d_deg'] = lg12_dr16_skycoord_match[1]
lg12_dr16_match_df['DR16_match_sep2d_arcsec'] = lg12_dr16_skycoord_match[1].to(u.arcsec)

# Set the dataframe index to manga catalog matched index
lg12_dr16_match_df = lg12_dr16_match_df.set_index('DR16_match_idx')

# Display first 5 rows
#print(lg12_dr16_match_df.head(5))

# Store all the matched observation using the skycoord idx in a dataframe 
mangaDR16_catalog_lg12_match_df = manga_dr16_catalog.iloc[lg12_dr16_skycoord_match[0]]
#print(mangaDR16_catalog_lg12_match_df.head(5))

# join the dataframes
final_lg12_manga_match_df = mangaDR16_catalog_lg12_match_df.join(lg12_dr16_match_df)
final_lg12_manga_match_df.to_csv('/Users/mmckay/Desktop/research/FMR_MZR/final_MaNGAdr16_lg12_crossmatch.csv')

final_lg12_manga_match_df.head(5)

,Objra,Objdec,mangaid,plateifu,nsa_z,SDSS_RA_deg,SDSS_DEC_deg,SDSS_z,DR16_match_sep2d_deg,DR16_match_sep2d_arcsec
0,194.523424,29.017353,1-404249,8935-12701,0.025677,194.680054,28.910057,0.027834,0.174046,626.567209
6,146.701430,31.719579,1-389685,8150-12701,0.021994,144.101196,32.079330,0.026945,2.236599,8051.757031
10,233.319218,48.119651,1-209191,8485-12701,0.023425,233.089645,48.405632,0.037079,0.324256,1167.322313
12,194.898779,27.959268,50-2,8480-12701,-9999.000000,194.907944,27.907326,0.026711,0.052570,189.250425
24,245.441961,25.820678,1-296190,9047-12701,0.047982,245.784775,25.824289,0.047765,0.308604,1110.974992

In [181]:
# Select matches that have a 2D seperation within 0.2 arcsec
# filter the sep2d > 0.2 arcsecs
sep2d_filter = final_bbrd_manga_match_df['DR16_match_sep2d_arcsec'] <= 0.2
filtered_manga_bbrd_match_df = final_bbrd_manga_match_df[sep2d_filter]
filtered_manga_bbrd_match_df.to_csv('/Users/mmckay/Desktop/research/FMR_MZR/filtered_final_MaNGAdr16_bbrd_crossmatch.csv')
filtered_manga_bbrd_match_df.head()

,Objra,Objdec,mangaid,plateifu,nsa_z,SDSS_RA_deg,SDSS_DEC_deg,SDSS_z,DR16_match_sep2d_deg,DR16_match_sep2d_arcsec
1860,247.674430,40.529389,1-135054,8550-12703,0.029812,247.674454,40.529392,0.029812,0.000018,0.065126
2472,247.304125,41.150872,1-633990,8312-12704,0.029593,247.304123,41.150890,0.029593,0.000018,0.065034
4357,163.219110,43.428404,1-255878,8254-1902,0.024237,163.219131,43.428398,0.024237,0.000017,0.060257
5871,132.912768,57.107424,1-48136,10001-3702,0.025606,132.912735,57.107433,0.025606,0.000021,0.073910
6164,121.920806,39.004239,1-122304,9183-3703,0.023345,121.920807,39.004246,0.023345,0.000007,0.024821

In [182]:
# filter the sep2d > 0.2 arcsecs
sep2d_filter = final_lg12_manga_match_df['DR16_match_sep2d_arcsec'] <= 0.2
filtered_manga_lg12_match_df = final_lg12_manga_match_df[sep2d_filter]
filtered_manga_bbrd_match_df.to_csv('/Users/mmckay/Desktop/research/FMR_MZR/filtered_final_MaNGAdr16_lg12_crossmatch.csv')
filtered_manga_lg12_match_df

,Objra,Objdec,mangaid,plateifu,nsa_z,SDSS_RA_deg,SDSS_DEC_deg,SDSS_z,DR16_match_sep2d_deg,DR16_match_sep2d_arcsec
385,154.731810,40.612939,1-254342,8455-12701,0.029230,154.731796,40.612934,0.029230,0.000011,0.040875
385,154.731810,40.612939,1-254342,8455-12701,0.029230,154.731796,40.612934,0.029230,0.000011,0.040875
468,115.633440,44.233819,1-338829,8138-12701,0.044773,115.633453,44.233864,0.044773,0.000046,0.165016
468,115.633440,44.233819,1-338829,8138-12701,0.044773,115.633453,44.233864,0.044773,0.000046,0.165016
581,195.973168,47.386444,1-284428,8465-12701,0.023672,195.973129,47.386490,0.023672,0.000053,0.189157
...,...,...,...,...,...,...,...,...,...,...
10415,168.734506,50.334873,1-149200,8947-9101,0.047134,168.734482,50.334839,0.047134,0.000037,0.134392
10799,235.941919,28.415212,1-633219,9041-9102,0.032751,235.941910,28.415230,0.032751,0.000020,0.071572
10819,198.189163,46.934987,1-284526,8465-9102,0.027681,198.189117,46.934990,0.027681,0.000031,0.112648
11056,171.065567,51.742307,1-149461,8997-9102,0.032578,171.065491,51.742298,0.032578,0.000048,0.173156
11230,235.208007,38.513459,1-236776,8315-9102,0.043747,235.207993,38.513474,0.043747,0.000019,0.066752